[build]
  command = "npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[plugins.inputs]
  enableMigration = true

[functions]
  included_files = ["public/**"]

[[redirects]]
  from = "/success"
  to = "/success.html"
  status = 200

[dev]
  autoLaunch = false
